<html>
  <body style=" margin: 0; padding: 0; box-sizing: border-box;">
    <section>
      <div
        class="container"
        style="margin: 0; padding: 0;  box-sizing: border-box;"
      >

        <div class="content">
          <h4
            style=" text-align: center; font-size: 30px; padding: 25px 0px;"
          >Login Successfull</h4>
        </div>
        <p
          class="text-input"
          style=" display: flex;   justify-content: center;  align-items: center; padding: 10px; font-size: 15px;"
        >
          Welcome to our Site, !!!
        </p>
        <div
          class="btn-box"
          style="text-align: center;width:100% ; white-space: nowrap;"
        >
          <a
            class="green"
            style="margin: 10px;padding: 8px 25px;outline: none;border: 0;border-radius: 5px;background: rgb(238, 189, 83);color: #000000;font-size: 15px;font-weight: 600;display: inline-block;"
            href="{{url}}"
          >Login Successfully</a>
        </div>
      </div>
    </section>
  </body>
</html>